<html>
    <body>
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex">
                    <h1>Formulario para agregar un post</h1>
                    <form action="/agregarPost" method="POST">
                        <div>
                            <label for="caption">Caption:</label>
                            <input type="text" name="caption" value="">
                        </div>
                        <div>
                            <label for="fecha">fecha:</label>
                            <input type="date" name="fecha" value="">
                        </div>
                        <div>
                            <button type="submit">Enviar</button> 
                        </div>
                    </form>
    
                </div>
            </div>
        </main>
    </body>
</html>