<html>
    <%- include('./partials.head') %> 
    <body>
        <%- include('./partials.headerLogueado') %> 
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex">
                    <h1 class="subtitulo">Formulario para agregar un post</h1>
                    <form action="/agregarPost" method="POST">
                        <div>
                            <label for="id">Id:</label>
                            <input type="number" name="number" value="">
                        </div>
                        <div>
                            <label for="caption">Caption:</label>
                            <input type="text" name="caption" value="">
                        </div>
                        <div>
                            <label for="fecha">fecha:</label>
                            <input type="date" name="fecha" value="">
                        </div>
                        <div>
                            <button type="submit">Enviar</button> 
                        </div>
                    </form>
    
                </div>
            </div>
        </main>
        <%- include('./partials.footer') %> 
    </body>
</html>