<!DOCTYPE html>
<html>
    <%- include('./partials/head') %> 
    <body>
        <%- include('./partials/headerDeslogueado') %> 
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <h1 class="subtitulo">Formulario de login</h1>
                <form action="/users/login" method="GET">
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" placeholder="Email" name="email" id="email">
                    </div>
                    <div>
                        <label for="contraseña">Contraseña:</label>
                        <input type="text" placeholder="Contraseña" name="contraseña" id="contraseña">
                    </div>
                    <div>
                        <button type="submit">Enviar</button> 
                    </div>
                </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %> 
    </body>
</html>